body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
header {
    align-self: center;
    border: solid black;
    padding: 20px 263px 20px 263px;
}
#button-container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 150px);
    grid-auto-rows: 150px;
    grid-gap: 1px;
}
button {
    font-size: 3em;
}
#equal-sign{
    grid-row: 4 /span 2;
    grid-column: 4;
}
#zero {
    grid-row: 5;
    grid-column: span 2;
}
#clear {
    grid-row: 2/ span 2;
    grid-column: 4;
}