body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header {
    align-self: center;
    border: solid black;
    padding: 20px 263px 20px 263px;
}

#calculator-container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 150px);
    grid-auto-rows: 150px;
    grid-gap: 1px;
}

button {
    font-size: 3em;
}

#equal-sign{
    grid-row: 6;
    grid-column: 3 / span 2;
}

#clear {
    grid-column: 1 / span 2;
}

#delete {
    grid-column: 3 / span 1;
}

#output {
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

#previous-operand {
    color: rgba(255, 255, 255, 0.75);
    font-size: 1.5rem;
}

#current-operand {
    color: white;
    font-size: 2.5rem;
}